/* Master Styles*/

body {
    margin: 0;
    padding: 0;
    height: 200vh;
    background: #fffcf9;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Segoe UI';
}

.center {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: 5px;
    border-right: 5px;
    border-color: #393939;
    text-align: center;
    background: rgb(152, 152, 152);
}

h1 {
    text-align: center;
}

#map-vis {
    height: 500px;
}

/* Nav Styles*/
.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: #06d6a0;
    color: #fffcf9;
}

.left {
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}

.middle {
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}

.right {
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}

.nav-bar-wrapper>.right>div {
    margin-right: 20px;
}

.nav-bar-link-wrapper {
    height: 16px;
    height: 2.5vw; /* Works fine with 2.5vw */
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-bar-link-wrapper a {
    color: #fffcf9;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-bar-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-bar-link-wrapper a:hover {
    color: black;
}