body {
	font-family: Arial;
}

/* Centered the headers */
h1, h2, h3 {
  text-align: center;
}

/* make text be in a nice narrow column */
.content-column {
  max-width: 700px;
  margin: 40px auto;
}

/* Use FlexBox to create two columns and customize */
/* visualization be in full-width and full-height */
.vis-holder {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* set width of columns to be even */
.columns {
  flex: 1;
}

.country {
  fill: #00ab41;
}